body
  background-color: #fafcfa

h1
  text-align: center
  font-size: 64px
  color: $color-tertiary

textarea
  height: 300px
  color: $color-tertiary

input
  width: 100%
  color: $color-tertiary

div.message
  color: $color-tertiary
